# Environnement virtuel
venv/
env/

# Variables d'environnement
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Logs
*.log

# Base de données locale
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp